.button {
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
  padding: var(--s14) var(--s20);
  display: block;
  border: none;
  font-weight: bold;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.18);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
